{% extends 'base.html.twig' %}

{% block body %}
    <section class="row">
        <h1>Consommation:</h1>
        <div class="col-xs-6 col-sm-4 col-md-3">
    
        </div>
    </section>
{% endblock %}


