
[class*="col"] { margin-bottom: 20px; }
img { width: 100%; }

.well {
    background-color:#CCC;
    padding: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.novisible {
    display: none;
}

.imageAndText {}

.infoListCocktail:hover {
    opacity: 0.7;
}

.infoListCocktail {
    background-color: black;
    opacity: 0.5;
    height: 100px;
    margin-top: -100px;
    color: white;
}

.pastille {
    margin: 10px;
    white-space:nowrap;
    display: inline;
    overflow: hidden;
}

.name {
    color: #9d9d9d;
    font-size: 20px;
    white-space:nowrap;
    display: inline;
    overflow: hidden;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.barre {
    text-decoration: line-through;
}

.blockCompartment {
    position:relative;
    height:185px;
    width: 48px;
    margin: auto;
}

.imgCompartment {
    position:relative;
    z-index: 10;
}

.percentDrink {
    position:absolute;
    bottom: 0px;
    width:46px;
    z-index: 1;
}

#compte_a_rebours {
    display: none;
    padding: 20px;
    background-color: #204d74;
    color: white;
}

.impossible{
    padding: 20px;
    background-color: #ac2925;
    color: white;
}